@import url('https://fonts.googleapis.com/css?family=Special+Elite');
.nav-item:hover
{
	background-color:white;
}
.container-fluid
{
	background-image: url('11.jpg');
	background-size: cover;

	font-family:'Special Elite';
	
	height: 92%;
	position: fixed;
	display:inline-flex;
	justify-content: left;
	align-items: center;
	border:2px solid grey;
	border-radius: 20px;
}
.container-fluid div
{

	
	padding:40px;


}

/*HEADING*/
.box-1
{

	position: static;
	transform:translateX(-0%);
	color:transparent;
	margin-bottom: 100px;
	




}
.box-1 h1:before
{
	content:attr(data-text);
	position:absolute;
	color:white;


	font-size: 50px;
	font-weight: 900;
	overflow:hidden;
	animation:type 2s ease-out ;
}
@keyframes type
 {
	0%
	{
		width:0;
	}
	100%
	{
		width:100%;
	}
	/*100%
	{
		width:0;
	}*/
}

.box-2
{
	position: static;
	transform:translateX(-0%);
	color:transparent;
	margin-bottom: 100px;
	




}
.box-2 h1:before
{
	content:attr(data-text);
	position:absolute;
	color:white;
	overflow:hidden;
	font-size: 50px;
	font-weight: 900;
	animation:type 2s ease-out ;
}
@keyframes type
 {
	0%
	{
		width:0;
	}
	100%
	{
		width:100%;
	}
	/*100%
	{
		width:0;
	}*/
}

.box-3
{
	position: static;
	transform:translateX(-0%);
	color:transparent;
	margin-bottom: 100px;

	




}
.box-3 h1:before
{
	content:attr(data-text);
	position:absolute;
	color:white;
	font-size: 50px;
	font-weight: 900;
	overflow:hidden;
	animation:type 2s ease-out ;
}
@keyframes type
 {
	0%
	{
		width:0;
	}
	100%
	{
		width:100%;
	}
	/*100%
	{
		width:0;
	}*/
}

.box-4
{
	position: static;
	transform:translateX(-0%);
	color:transparent;
	margin-left: 30px;
	margin-bottom: 100px;

	




}
.box-4 h1:before
{
	content:attr(data-text);
	position:absolute;
	color:white;
	font-size: 50px;
	font-weight: 900;
	overflow:hidden;
	animation:type 2s ease-out ;
}
@keyframes type
 {
	0%
	{
		width:0;
	}
	100%
	{
		width:100%;
	}
	/*100%
	{
		width:0;
	}*/
}

/*FOOTER*/
#footer_showcase {
  position: fixed;
  margin: 0;
  display: block;
  top: 80%;
  left: 73%;
  transform: translate(-85%, -73%);
  /*margin: 0 80px;*/
  width: 60vw;
  height: 5%;
  text-align: center;
  color: white;

  /*background: #272727;*/
  /*opacity: 0.5;*/
  /*border-radius: 5px;*/
  /*box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);*/
}

.social_profile {
  width: 40px;
  margin: 10px 20px;
  -webkit-filter: white(1);
    filter: white(1);

    transition: 0.3s;
}

.social_profile:hover {
  -webkit-filter: initial;
    filter: initial;
    margin: 0 40px;
    transform: scale(1.2);
}

#footer_showcase p{
  color: white;
  font-weight: 900;
  font-size:20px;
  font-family: 'Bahnschrift'
}
